.card {
    width: 502px;
    height: 680px;
}
.down button {
    color: white;
    background-color: red;
    border: 2px solid red;
    font-weight: 600;
    font-size: 30px;
    border-radius: 55px;
    height: 70px;
    width: 100px;
    position: absolute;
    bottom: 10rem;
    left: 365px;
    transform: translateY(-700px);
    transition: 0.50s;
    /* opacity: 0; */
}
.up {
    display: inline-block;
}
#icon {
    font-size: 25px;
    text-align: top;
    padding-right: 10px;
    padding-left: 10px;
}
 .round button{
    width: 50px;
    height: 50px;
    background-color: white;
    border: white solid;
    border-radius: 50%;  
    text-align: center; 
    position: relative;
    display: inline-block;
    left: 20px;
    transform: translateY(0px);
    transition: 0.35s;
    opacity: 0;
    cursor: pointer;
    font-size: 30px;
    line-height: 1rem;
}
#text button{
    width: 300px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    white-space: nowrap;
    
    left: 40px;
    transform: translateY(-10px);
    transition: 0.35s;
    cursor: pointer;
    margin-left: 3rem;
    opacity: 0;
    display: flex;
    align-items: center;  
}
#pinterest {
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    
}
.card:hover .down button {
    transform: translateY(-450px);
    opacity: 1;
}

.card:hover .round button {
    transform: translateY(-100px);
    opacity: 1;
}

.card:hover #text button {
    transform: translateY(-106px);
    opacity: 1;
}
.card:hover .img {
    filter: brightness(0.7);
}




/* #text button ion-icon{
    font-size: 10px;
    display: flex;
    
} */